	<%= render partial: "layouts/carousel" %>
	
	<%= render partial: "layouts/search_bar" %>
	
	<div class="row" style="margin-top: 15px;">
		<div class="col-md-8 col-md-offset-4 head">
			<h2> Explore your Neighborhood </h2>
			<h5> <i>...what tantalizing tastes await around the corner </i> </h5>
		</div>
	</div>
	
	<%= render partial: "layouts/meal_info" %>