<span class='error' id='signin-errors'> </span>
<form id='signin-form' method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input id="guest-email" name="user[email]" type="text" placeholder="Email"><br>
    <input id="guest-pass" name="user[password]" type="password" placeholder="Password"><br>
	  <button style="border-radius: 0px; -webkit-appearance: none; margin-left: 2px;" type="submit" class='btn btn-default modal-button'>Submit</button>
</form>
<button style="border-radius: 0px; -webkit-appearance: none; margin-left: 2px;" id="guest-login" type="submit" class='btn btn-default modal-button'>Guest Login</button>

<script type="text/javascript">
	$(function () {
		$('#signin-form').on('submit', function (event) {
			event.preventDefault();
      $.ajax({
      	url: '/session',
				data: $(event.currentTarget).serialize(),
				type: "POST",
				success: function (data) {
					window.location = '/';
				},
				error: function (resp) {
					$('#signin-errors').text(resp.responseJSON)
				},
      })
		})
	})
</script>