<form action="/session" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<span class="error-message">Error message here!</span>
    <input name="user[email]" type="text" placeholder="Email"><br>
    <input name="user[password]" type="password" placeholder="Password"><br>
	<button style="border-radius: 0px; -webkit-appearance: none; margin-left: 2px;" type="submit" class='btn btn-default modal-button'>Submit</button>
	<br>
</form>