<!-- <div class="row">
	<div class="col-md-8 col-md-offset-4 head">
		<h2> Our Foodie Community </h2>
	</div>
	</div>

	<div class="row">

	<div class="col-xs-4 meal-info" style="background-image: url('/assets/.jpg');">
		<div class="host-profile">
			<%= image_tag "host1.jpg", class: "host-pic"%>
			<span style="float: left; margin-left: 5px;">
				 Monica R's
			 </span>
		</div>
		<div class="meal-blurb">
			<p class="tag" style="font-size: 10px; color: #A34775">SEAFOOD<p>
			<p> Under the Sea <p>
				<p style="font-size: 10px;">
					<span style="float: left;"> @Mission </span>
				  <span style="float: right;">$25/p </span>
				</p>
		</div>
	</div>

	<div class="col-xs-4 meal-info" style="background-image: url('/assets/rsz_seafood.jpg');">
		<div class="host-profile">
			<%= image_tag "host1.jpg", class: "host-pic"%>
			<span style="float: left; margin-left: 5px;">
				 Monica R's
			 </span>
		</div>
		<div class="meal-blurb">
			<p class="tag" style="font-size: 10px; color: #A34775">SEAFOOD<p>
			<p> Under the Sea <p>
				<p style="font-size: 10px;">
					<span style="float: left;"> @Mission </span>
				  <span style="float: right;">$25/p </span>
				</p>
		</div>
	</div>


	</div> -->