	<div class="row">
		<div class="col-xs-4 meal-info" style="background-image: url('/assets/rsz_seafood.jpg');">
			<div class="host-profile">
				<%= image_tag "host1.jpg", class: "host-pic"%>
				<span style="float: left; margin-left: 5px;">
					 Natasha R's
				 </span>
			</div>
			<div class="meal-blurb">
				<p class="tag" style="font-size: 10px; color: #A34775">SEAFOOD<p>
				<p> Under the Sea <p>
					<p style="font-size: 10px;">
						<span style="float: left;"> @Mission </span>
					  <span style="float: right;">$25/p </span>
					</p>
			</div>
		</div>
		
		<div class="col-xs-4 meal-info" style="background-image: url('/assets/rsz_quiche.jpg');">
			<div class="host-profile">
				<%= image_tag "rsz_host2.jpg", class: "host-pic"%>
				<span style="float: left; margin-left: 5px;">
					 Andrei T's
				 </span>
			</div>
			<div class="meal-blurb">
				<p class="tag" style="font-size: 10px; color: #A34775">EUROPEAN<p>
				<p> French Breakfast <p>
					<p style="font-size: 10px;">
						<span style="float: left;"> @Castro </span>
					  <span style="float: right;">$20/p </span>
					</p>
			</div>
			
		</div>
		
			<div class="col-xs-4 meal-info" style="background-image: url('/assets/rsz_philly-cheese.jpg');">
				<div class="host-profile">
					<%= image_tag "rsz_host3.jpg", class: "host-pic"%>
					<span style="float: left; margin-left: 5px;">
						 Marina Z's
					 </span>
				</div>
				<div class="meal-blurb">
					<p class="tag" style="font-size: 10px; color: #A34775">AMERICAN<p>
					<p> Philly Style <p>
						<p style="font-size: 10px;">
							<span style="float: left;"> @Japantown </span>
						  <span style="float: right;">$30/p </span>
						</p>
				</div>
			</div>
	</div>