	<div class="row">
	<form class="navbar-form navbar-left" role="search">
		<div class="form-group">
		
			<select class="form-control" name="query[tag]">
				<option value="" disabled selected>What are you craving?</option>
				<option value="asian">Asian</option>
				<option value="italian">European</option>
				<option value="indian">Indian</option>
				<option value="american">American</option>
				<option value="seafood">Seafood</option>
				<option value="fusion">Fusion</option>
			</select>
		
			<input type="text" name="query[location]" class="form-control" placeholder="Location">
		
			<input type="date" name="query[start_date]" class="form-control" name="date" value="Start Date">
			
				<input type="date" name="query[end_date]" class="form-control" name="date" value="End Date">
		
			<select class="form-control" name="query[guest_num]">
				<option value="1">1 Guest</option>
				<option value="2">2 Guests</option>
				<option value="3">3 Guests</option>
				<option value="4">4 Guests</option>
				<option value="5">5+ Guests</option>
			</select>
					
		</div>
		<input type="submit" class="btn btn-default form-control" value="Search">
		
	</form>
	</div>